appdirs==1.4.3
asgiref==3.2.7
attrs==19.3.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
distlib==0.3.0
Django==3.1.9
django-emoji==2.2.2
dnspython==1.16.0
filelock==3.0.12
future==0.18.2
idna==2.9
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.10.1
pyOpenSSL==19.1.0
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
python-telegram-bot==7.0.1
pytz==2019.3
requests==2.23.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
telebot==0.0.3
TelegramBotAPI==0.3.2
tornado==6.0.4
urllib3==1.25.9
utility==1.0
virtualenv==20.0.18
